<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Cynthia Clinton </h1>
		<p>Welcome to my Blog App</p>
		<p> I am building a portfolio. I built this blog in Rails 4 to add to my portfolio.  I hope you like the blog so far.</p>
		<p>If you'd like to follow along as I built more apps for my portfolio, you can find me on Twitter <a href="http://twitter.com/tawk39">@tawk39</a>.</p>
	</div>
</div>